mdui-layout {
  width: auto;
  margin: 0 auto
}

mdui-layout-main {
  margin-top: 40px;
  padding: 15px
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px
}

.field,
.start {
  height: 45px;
  border-radius: var(--mdui-shape-corner-small);
  box-sizing: border-box
}

@media screen and (min-width:840px) {
  mdui-layout {
    width: 500px
  }

  mdui-layout-main {
    margin-top: 80px;
    padding: 25px
  }
}