/* 圆角 */
.mdui-grid-tile{
  border-radius: 6px
}

.mdui-panel-item {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255 255 255 / 78%);
	font-weight:900;
}
body {
	font-weight:900;
	color: #99999F !important;
}
body a{
	text-decoration:none;/* outline:0; */
	}
body p {
	font-weight:900;
}

/* 显示遮罩层 */
.mdui-overlay-show {
  visibility: visible;
  opacity: 1;
  background-color: #fff0; 
}

footer {
    width: 100%; 
    background-color: #ECEFF1;
    /*color: #FFFFFF;*/
    border-top: #EFEFEF solid 10px;
    padding: 8px 0;
}
footer a {
    line-height: 12px;
    font-size: 10px;
    color: #99999F !important;
}


.css-style-rainbow a:nth-child(7n+1) {
  background-color: rgba(255, 78, 106, .21);
  color: #f76d2c;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+2) {
  background-color: rgba(255, 118, 30, .21);
  color: #ff761e;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+3) {
  background-color: rgba(255, 185, 0, .21);
  color: #ffb900;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+4) {
  background-color: rgba(51, 213, 122, .21);
  color: #33d57a;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+5) {
  background-color: rgba(0, 219, 255, .21);
  color: #00dbff;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+6) {
  background-color: rgba(26, 152, 255, .21);
  color: #1a98ff;
  font-weight:900;
}
.css-style-rainbow a:nth-child(7n+7) {
  background-color: rgba(144, 144, 255, .21);
  color: #9090ff;
  font-weight:900;
}

/* 手机版 */
@media screen and (max-width: 720px) {
body{
	/*background-image: url(../img/bg_miku_mo.png);*/
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 0.98;
}
} 

/* 电脑版 */
@media screen and (min-width: 721px) { 
body{
	/*background-image: url(../img/bg_miku_v2.png);*/
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	background-size: 32%;
	opacity: 0.98;
}
}

/* 百度搜索 */
.mdui-appbar-with-searchbar {
  padding-top: 64px;
}
.search-bar {
  display: flex;
  margin: 7px 8px 8px;
  height: 49px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .24);
  background: #FAFAFA;
  align-items: center;
  border-radius: 2px;
}
.search-bar > input {
  flex: 1 1;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  margin: 0 16px;
  outline: none;
  color: rgba(0, 0, 0, .87);
}
.search-bar > input::placeholder {
  color: rgba(0, 0, 0, .54);
}
.search-bar > .mdui-icon {
  margin: 0 16px;
}
.search-bar > .mdui-btn-icon {
  margin: auto 11px;
}
/*暗色模式支持*/
.mdui-theme-layout-dark .search-bar {
  background: #424242;
}
.mdui-theme-layout-dark .search-bar > input {
  color: white;
}
.mdui-theme-layout-dark .search-bar > input::placeholder {
  color: rgba(255, 255, 255, .70);
}

/* 爱发电 */
.elec .elec-trigger-icon {
    background-position: -278px -918px;
    width: 20px;
    height: 24px;
    vertical-align: middle;
    margin-right: 12px;
}
.icon {
    display: inline-block;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/icons.png);
}
.elec .elec-trigger {
    background: #f25d8e;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(255,112,159,.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    padding: 0 24px;
}
