

/* about */
.about {
    width: 100%;
    background-color: #000000;
    padding: 68px 0;
}
.about p {
    color: #717275;
    text-align: center;
    width: 100%;
    margin: 8px auto;
    font-size: 16px;
    display: block;
}

/* footer */
footer {
    width: 100%; 
    background-color: #000000;
    color: #FFFFFF;
    border-top: #EFEFEF solid 1px;
    padding: 46px 0;
}
footer .nav {
    display: inline-flex;
}
footer .left {
    float: left; 
}
footer .left a.nav-link {
    color: #FFF;
    border-right: #b8c7bf solid 1px;
    line-height: 16px;
    font-size: 14px;
    padding: 0 8px;
}
footer .right {
    float: right;
}
footer .right a.nav-link {
    color: #FFFFFF;
    line-height: 16px;
    font-size: 14px;
    padding: 0 8px;
}
footer p {
    text-align: center;
    margin: 65px 0 0;
}
nav {
    text-align: center;
}
nav.paginator ul.pagination li.active a {
    color: #fff;
    background: #000;
}





