
body {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity
}

/* footer */
footer {
    cursor: pointer;
    color: 000;
    background: rgba(0, 0, 0, 0);
    position: relative;
    width: 100%; 
    border-top: #EFEFEF solid 1px;
    padding: 14px 0;
}
footer .nav {
    display: inline-flex;
}
footer .left {
    float: left; 
}
footer .left a.nav-link {
    border-right: #b8c7bf solid 1px;
    line-height: 16px;
    font-size: 14px;
    padding: 0 2px;
}
footer .right {
    float: right;
}
footer .right a.nav-link {
    line-height: 16px;
    font-size: 14px;
    padding: 0 8px;
}
footer p {
    text-align: center;
    margin: 6px 0 0;
}
nav {
    text-align: center;
}

