/* mdui */
@import url(https://jixiejidiguan.top/stalye/mdui/css/mdui.min.css?v=1.0);
/* 主题颜色 */
body {background:#f0f0f0; }
/* 全站灰色 */
关html *{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);filter:gray;}
/* 字体 */
html,body,a,table,tr,td,th,tbody,form,article,div,dt,ul,ol,li,dl,dd,section,footer,nav,strong,aside,header,label,address,bdo,big,blockquote,caption,em,center,cite,dialog,dir,fieldset,figcaption,figure,main,pre,small,h1,h2,h3,h4,h5,h6 {font-family:"KaiTi","LiSu" !important;} 
/* 字体美化 */
html,body,a,table,tr,td,th,tbody,form,article,div,dt,ul,ol,li,dl,dd,section,footer,nav,strong,aside,header,label,address,bdo,big,blockquote,caption,em,center,cite,dialog,dir,fieldset,figcaption,figure,main,pre,small,h1,h2,h3,h4,h5,h6 {text-shadow:0.1px 0.2px 0px #fff !important; }

body {
    margin: 0;
    position: relative;
    min-height: 100%;
    color: var(--font-color);
    font-size: var(--global-font-size);
    font-family: Fredoka, Pailou;
    -webkit-tap-highlight-color: transparent
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color)
}

::-webkit-scrollbar-track {
    background-color: transparent
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}