/* 全站灰色 */
关html *{
	-webkit-filter: grayscale(100%); /* webkit */
	-moz-filter: grayscale(100%); /*firefox*/
	-ms-filter: grayscale(100%); /*ie9*/
	-o-filter: grayscale(100%); /*opera*/
	filter: grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
	filter:gray; /*ie9- */
}

html,
body,
a,
table,
tr,
td,
th,
tbody,
form,
article,
div,
dt,
ul,
ol,
li,
dl,
dd,
section,
footer,
nav,
strong,
aside,
header,
label,
address,
bdo,
big,
blockquote,
caption,
em,
center,
cite,
dialog,
dir,
fieldset,
figcaption,
figure,
main,
pre,
small,
h1,
h2,
h3,
h4,
h5,
h6:not([class*='icon']):not(.fa):not(.fas):not(i) 
{
font-family:"KaiTi","LiSu" !important;
} 

html,
body,
a,
table,
tr,
td,
th,
tbody,
form,
article,
div,
dt,
ul,
ol,
li,
dl,
dd,
section,
footer,
nav,
strong,
aside,
header,
label,
address,
bdo,
big,
blockquote,
caption,
em,
center,
cite,
dialog,
dir,
fieldset,
figcaption,
figure,
main,
pre,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
text-shadow:0.1px 0.2px 0px #d0d0d0 !important; 
font-weight:bold !important;
}


