body {
    background: linear-gradient(135deg, var(--color-bg-white) 0%, var(--color-neutral-4) 100%);
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: var(--color-bg-1);
}

.footer {
    background-color: var(--color-bg-1);
}