/* 字体 */
@import url("https://fonts.loli.net/css?family=ZCOOL+KuaiLe");
/* */
* {margin: 0;padding: 0;box-sizing: border-box;}
/* 主题颜色 */
body {background:#ECEFF1; }
/* 全站灰色 */
关html *{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);filter:gray;}
/* 字体 */
body {font-family: 'ZCOOL KuaiLe', cursive;}
