.full-container {
  margin: 0 auto;
  padding: 6rem 1.5rem;
}

@media (max-width: 768px) {
  .full-container {
    padding: 3rem 1rem;
  }
}

@media (max-width: 480px) {
  .full-container {
    padding: 2rem 0.8rem;
  }
}
.arco-divider.arco-divider-horizontal {
  margin: 0px auto
}

.card-custom-hover-style {
  transition-property: all;
}

.card-custom-hover-style:hover {
  border-color: var(--color-data-1);
}

.text-ellipsis {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-2 {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-3 {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}