body {
  margin: 0;
  padding: 0;
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
}

header.semi-layout-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

diy-layout-content {
  width: 100%;
  padding: 16px;
}